<span class="newdetails"><b>$i18n.getText('home.news'):&nbsp;&nbsp;</b>

<span
        id="newsLink">&nbsp;&nbsp;<img
                src="$contextPath/images/ajax-loader.gif" />
    </span> </span>
<input type="hidden" id="linkDetail1" value="<a href='$vndsNews.get(0).getUrlDetail()'>$vndsNews.get(0).getNewsHeader()</a><span style='margin-left: 5px;' class='icon-new'></span>"/>
<input type="hidden" id="linkDetail2" value="<a href='$vndsNews.get(1).getUrlDetail()'>$vndsNews.get(1).getNewsHeader()</a><span style='margin-left: 5px;' class='icon-new'></span>"/>
<input type="hidden" id="linkDetail3" value="<a href='$vndsNews.get(2).getUrlDetail()'>$vndsNews.get(2).getNewsHeader()</a><span style='margin-left: 5px;' class='icon-new'></span>"/>
<input type="hidden" id="linkDetail4" value="<a href='$vndsNews.get(3).getUrlDetail()'>$vndsNews.get(3).getNewsHeader()</a><span style='margin-left: 5px;' class='icon-new'></span>"/>
<input type="hidden" id="linkDetail5" value="<a href='$vndsNews.get(4).getUrlDetail()'>$vndsNews.get(4).getNewsHeader()</a><span style='margin-left: 5px;' class='icon-new'></span>"/>

