/META-INF
/boservice-message-keys_en.properties
/boservice-message-keys_jp.properties
/boservice-message-keys_vn.properties
/global-messages_en.properties
/global-messages_jp.properties
/global-messages_vn.properties
/jta.properties
/log4j.properties
/struts.xml
/tools.xml
/validators.xml
/velocity.properties
/vn
