@charset "utf-8";
/* CSS Document */
#footer .groupend legend{
	text-transform:uppercase;
	font-size:11px;
	color:#ff7a00;
	font-weight:bold;
	padding:0 0 0 33px;
	margin:0;
}
.tbl_first input.bt_enter{

}
