<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <description>Web Online</description>
  <distributable/>
  <session-config>
    <session-timeout>180</session-timeout>
  </session-config>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/configs/spring-*-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>server-config</param-name>
    <param-value>/WEB-INF/configs/server-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>boservice-msgkey-config</param-name>
    <param-value>/WEB-INF/configs/boservcice-message-keys.xml</param-value>
  </context-param>
  <context-param>
    <param-name>bocode-mapping-config</param-name>
    <param-value>/WEB-INF/configs/trading-code-mapping.xml</param-value>
  </context-param>
  <context-param>
    <param-name>vndsservice-msgkey-config</param-name>
    <param-value>/WEB-INF/configs/vndsservice-message-keys.xml</param-value>
  </context-param>
  <context-param>
    <param-name>online-tradingtime-config</param-name>
    <param-value>/WEB-INF/configs/online_tradingtime_config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
    <param-value>
            /WEB-INF/configs/tiles-defs-default.xml
            ,/WEB-INF/configs/tiles-homepage.xml 
            ,/WEB-INF/configs/tiles-defs-osc.xml 
            ,/WEB-INF/configs/tiles-defs-institutions.xml
            ,/WEB-INF/configs/tiles-defs-listedmarket.xml
            ,/WEB-INF/configs/tiles-defs-product-service.xml
            ,/WEB-INF/configs/tiles-defs-open-account.xml
            ,/WEB-INF/configs/tiles-defs-investor-relation.xml
            ,/WEB-INF/configs/tiles-analysis.xml
            ,/WEB-INF/configs/tiles-aboutVnDirect.xml
        </param-value>
  </context-param>
  <filter>
    <filter-name>gzipFilter</filter-name>
    <filter-class>net.sf.ehcache.constructs.web.filter.GzipFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>httpSessionAppContextIntegrationFilter</filter-name>
    <filter-class>vn.com.vndirect.web.filter.HttpSessionAppContextIntegrationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>casSSOFilter</filter-name>
    <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
  </filter>
  <filter>
    <filter-name>checkRedirectUrlFilter</filter-name>
    <filter-class>vn.com.vndirect.web.filter.CheckRedirectUrlFilter</filter-class>
  </filter>
  <filter>
    <filter-name>checkAfterLoginFilter</filter-name>
    <filter-class>vn.com.vndirect.web.filter.CheckAfterLoginFilter</filter-class>
  </filter>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter>
    <filter-name>checkSelectedSymbol</filter-name>
    <filter-class>vn.com.vndirect.web.filter.CheckSelectedSymbolFilter</filter-class>
  </filter>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.shtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>httpSessionAppContextIntegrationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>casSSOFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>checkRedirectUrlFilter</filter-name>
    <url-pattern>*.shtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>checkAfterLoginFilter</filter-name>
    <url-pattern>*.shtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>checkSelectedSymbol</filter-name>
    <url-pattern>*.shtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener>
  <listener>
    <display-name>VNDirectServletContextListener</display-name>
    <listener-class>vn.com.vndirect.web.listener.VNDirectServletContextListener</listener-class>
  </listener>
  <listener>
    <display-name>UserCounterHttpSessionListener</display-name>
    <listener-class>vn.com.vndirect.commons.usercounter.UserCounterHttpSessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>FChartConfigServlet</servlet-name>
    <jsp-file>/WEB-INF/jsps/flashconfig/flashconfig.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>H2Console</servlet-name>
    <servlet-class>org.h2.server.web.WebServlet</servlet-class>
    <init-param>
      <param-name>webAllowOthers</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>TAChartServlet</servlet-name>
    <servlet-class>vn.com.vndirect.web.servlets.TAChartServlet</servlet-class>
    <init-param>
      <param-name>chartManagerKey</param-name>
      <param-value>TAChartManager</param-value>
    </init-param>
    <init-param>
      <param-name>defaultImg</param-name>
      <param-value>/images/charts/default.ta.chart.jpg</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>VNDirectExportToPdfServlet</servlet-name>
    <servlet-class>vn.com.vndirect.web.servlets.VNDirectExportToPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TAChartServlet</servlet-name>
    <url-pattern>*.tachart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VNDirectExportToPdfServlet</servlet-name>
    <url-pattern>*.toPdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FChartConfigServlet</servlet-name>
    <url-pattern>/flashconfig.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>H2Console</servlet-name>
    <url-pattern>/dbconsole/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/accessDenied.jsp</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/pageNotFound.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/pageNotFound.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/WEB-INF/pageNotFound.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsps/exceptions/UnderContruction.jsp</location>
  </error-page>
</web-app>